@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.columnChart{
    background: #FFFFFF;
    box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
    border-radius: 20px;
}


.radialBarCard{
    background: #FFFFFF;
    box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
    border-radius: 10px;
    cursor: pointer;
}

.radialBarCard .apexcharts-data-labels text {
    font-family: 'Josefin Sans', sans-serif;
}

.radialBarCard:hover #chart .ReactApexChart{
        transform: scale(1.2);
}

.barChart{
    transform: scale(1.1);
}