.top-nav-container {
    /* background-color: var(--Neutral-Black-100); */
    background-color: var(--Neutral-white-0);
    height: 105px;
    width: 1125px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 26px 20px; */
    /* gap: 50px; */

    position: relative;

}

.top-nav-heading {
    display: flex;
    padding: 20px;
    /* flex-direction: row;
    gap: 250px; */
}

.top-nav-search {
    position: absolute;
    left: 150px;
}

.top-nav-mid {
    position: absolute;
    left: 240px;
}

.top-nav-mid-NX {
    position: absolute;
    left: 500px;
    transition: 0.4s;
}

.search {
    transition: 0.4s;
}

.nav-end {
    position: absolute;
    right: 0;
    align-items: end;
    display: flex;
    flex-direction: row;
}

/* NX */

.hamburger-NX {
    position: absolute;
    left: 55px;
    top: 25px;
    gap: 10px;

    border: none;
    cursor: pointer;

    /* margin: auto -35px; */
    background-color: var(--Neutral-White-0);
    /* border: 2px solid black; */
    padding: 14px;
    border-radius: 44px;
    height: 52px;
    width: 52px;

    transition: 0.4s;
}

.hamburger-NX:hover {
    background-color: var(--primary-100);
    border-radius: 44px;

}

.hamburger-NX span {
    display: block;
    margin-top: 5px;
    background-color: var(--Neutral-Black-900);
    border-radius: 15px;
    height: 4px;
    width: 30px;

    transition: 0.4s;
}

.hamburger-NX:hover span {
    margin: auto;
}

/* Expanded */

.hamburger {
    position: absolute;
    left: 55px;
    top: 25px;
    border: none;
    cursor: pointer;

    /* margin: auto -35px; */
    background-color: var(--Neutral-White-0);
    /* border: 2px solid black; */
    padding: 14px;
    border-radius: 44px;
    height: 52px;
    width: 52px;

    transition: 0.4s;
}

.hamburger:hover {
    background-color: var(--primary-100);
    border-radius: 44px;

}

.hamburger span {
    display: block;
    margin-top: 5px;
    background-color: var(--Neutral-Black-900);
    border-radius: 15px;
    height: 4px;
    width: 30px;

    transition: 0.4s;
}

.hamburger:hover span {
    margin: auto;
}

/*  */

.hamburger-in:hover span:nth-child(1) {
    width: 25px;
    transform: translate(-3px, 8px) rotate(30deg);
}

.hamburger-in:hover span:nth-child(2) {
    display: none;
}

.hamburger-in:hover span:nth-child(3) {
    width: 25px;
    transform: translate(-3px, -8px) rotate(-30deg);
}

/*  */

.hamburger-out:hover span:nth-child(1) {
    width: 25px;
    transform: translate(0px, 8px) rotate(-30deg);
}

.hamburger-out:hover span:nth-child(2) {
    display: none;
}

.hamburger-out:hover span:nth-child(3) {
    width: 25px;
    transform: translate(0px, -8px) rotate(30deg);
}


/* apps button */
.btn-navbar-apps {
    background-color: var(--Neutral-white-200);
    width: 91px;
    height: 44px;
    padding: 14px 0px 14px 10px;
    margin: 14px 10px;
    color: var(--Neutral-Black-900);
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    border-radius: 10px;
    gap: 8px;
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: row;

    transition: 0.4s;
}

.btn-navbar-apps:hover {
    background-color: var(--primary-100);
    color: var(--Neutral-Black-900);
    width: 91px;
    height: 44px;
    padding: 14px 0px 14px 10px;
    border-radius: 10px;
    transform: scale(1.02);
}

.btn-navbar-apps:active {
    background-color: var(--primary-400);
    color: var(--primary-900);
    width: 91px;
    height: 44px;
    padding: 14px 0px 14px 10px;
    border-radius: 10px;
    transform: scale(1.02);
}


.btn-navbar-apps-NX {
    background-color: var(--Neutral-white-200);
    width: 91px;
    height: 44px;
    padding: 14px 0px 14px 10px;
    margin: 14px 10px;
    color: var(--Neutral-Black-900);
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    border-radius: 10px;
    gap: 8px;
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: row;

    transition: 0.4s;
}

.btn-navbar-apps-NX:hover {
    background-color: var(--primary-100);
    color: var(--Neutral-Black-900);
    width: 91px;
    height: 44px;
    padding: 14px 0px 14px 10px;
    border-radius: 10px;
    transform: scale(1.02);
}

.btn-navbar-apps-NX:active {
    background-color: var(--primary-400);
    color: var(--primary-900);
    width: 91px;
    height: 44px;
    padding: 14px 0px 14px 10px;
    border-radius: 10px;
    transform: scale(1.02);
}

.btn-navbar-apps-icon {
    width: 12px;
    height: 7px;
    margin: 14px 0 14px 0px !important;
}

.btn-navbar-flag-icon {
    width: 24px;
    height: 24px;
    margin: 14px 0 14px 0px !important;
}

.btn-navbar-flag {
    background-color: var(--Neutral-white-200);
    width: 44px;
    height: 44px;
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
    gap: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;

    transition: 0.4s;
}

.btn-navbar-flag:hover {
    background-color: var(--primary-100);
    width: 44px;
    height: 44px;
    padding: 10px;
    border-radius: 50px;
    transform: scale(1.02);
}

.btn-navbar-flag:active {
    background-color: var(--primary-400);
    width: 44px;
    height: 44px;
    padding: 10px;
    border-radius: 50px;
    transform: scale(1.02);
}








/* CSS card header Apps */
.cardHeader {
    background-color: var(--Neutral-White-100);
}

.cardHeader:hover {
    background-color: var(--primary-200);
}

.cardHeader:active {
    background-color: var(--primary-400);
}

.buttonHeader {
    background-color: transparent;
    border: none;
    width: 7vw;
    padding: 0.5vw;
    border-radius: 8px;
}

.buttonHeader:hover {
    background-color: var(--primary-100);
}

.buttonHeader:active {
    background-color: var(--primary-400);
}