.membership-card {
  box-shadow: -12px 15px 20px 7px rgba(0, 0, 0, 0.05),
    12px 15px 20px 0px rgba(0, 0, 0, 0.05);
  padding: 2vw;
  border-radius: 1em;
}
.membership-card hr {
  border: 1.5px solid var(--Neutral-White-700);
}
.MiniCard {
  padding: 1vw;
}
.TableHead {
  color: var(--Neutral-White-800);
}
.btn-detail {
  background-color: var(--primary-500);
  color: var(--primary-900);
  border: 1px solid var(--primary-500);
  padding: 0.3vw;
  border-radius: 13px;
  /* width: 25%; */
}
.btn-detail:hover {
  background-color: var(--primary-300);
  color: var(--primary-900);
}
.btn-detail:active {
  background-color: var(--primary-200);
}
.membership-detail-card {
  box-shadow: -12px 15px 20px 7px rgba(0, 0, 0, 0.05),
    12px 15px 20px 0px rgba(0, 0, 0, 0.05);
  border-radius: 1em;
}
.special-tag {
  display: inline-block;
  border: none;
  padding: 2px 12px;
  border-radius: 20px;
  font-size: 14px;
  cursor: default;
  color: var(--primary-900);
  background-color: var(--primary-100);
}
.bg-white200 {
  background-color: var(--Neutral-White-100);
}
.special-tag-visible {
  display: inline-block;
  border: 1px solid black;
  padding: 2px 12px;
  border-radius: 20px;
  font-size: 14px;
  cursor: default;
}
.special-tag-visible:hover {
  background-color: var(--Neutral-White-600);
}
.special-button {
  background-color: transparent;
  border: none;
}
.back-button {
  background-color: transparent;
  border: none;
}
.sort-button {
  color: var(--Neutral-White-800);
}
.sort-button:hover {
  color: var(--primary-300);
}
.sort-button:active {
  color: var(--primary-500);
}
