.background-image {
  background: linear-gradient(rgb(255, 239, 204, 0.5), rgb(255, 239, 204, 0.5)),
    url("../../../assets/gif/gif-1.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  width: 100vw;
  height: 100vh;
}
.body-card {
  background-color: var(--Neutral-White-0); /* Fallback color */
  box-shadow: -12px 15px 20px 7px rgba(0, 0, 0, 0.05),
    12px 15px 20px 0px rgba(0, 0, 0, 0.05);
  padding: 2vw;
  border-radius: 1em;
  color: var(--Neutral-black-900);
  font-weight: bold;
  position: absolute;
  width: 80%;
}
.btn-forgot-password {
  background-color: var(--primary-500);
  color: var(--primary-100);
  border: 1px solid var(--primary-500);
  padding: 0.3vw;
  border-radius: 8px;
  width: 100%;
}
.btn-forgot-password:hover {
  background-color: var(--primary-300);
  color: var(--primary-900);
}
.btn-forgot-password:active {
  background-color: var(--primary-200);
}
.borderPassword {
  border: 1px solid var(--Neutral-Black-100) !important;
  color: var(--Neutral-Black-100);
}
.borderPassword:hover {
  border: 2px solid var(--Neutral-Black-200) !important;
  color: var(--Neutral-Black-100);
}

.sm-to-mid {
  height: 100vh;
  width: 100vw;
  background-color: var(--Neutral-White-200);
}
