.box {
    --b: 2px;   /* thickness of the border */
    --c: var(--Neutral-White-800);   /* color of the border */
    --w: 40px;  /* width of border */
    
  
    border: var(--b) solid #0000; /* space for the border */
    --_g: #0000 90deg,var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
      conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
      conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
    
    /*Irrelevant code*/  
    width:100%;
    height:200px;
    box-sizing:border-box;
    border-radius: 20px;
    /* margin:5px; */
    display:inline-flex;
    /* font-size:30px; */
    justify-content:center;
    align-items:center;
    text-align:center;
  }
.box:hover{
  border:2px solid #0000;
}
  .styleTextarea textarea{
    width: 418px;
    height: 121px;
  }

.selectTextarea{
  width: fit-content;
  border: 0;
  margin-top: -5px;
  margin-left: 10px;
}

.selectTextarea:focus{
  box-shadow: none;
  width: fit-content;
}

.modal-body{
  border-radius: 50px;
  padding: 0;
}
input[type=file]{
  display: none;
}
.modal-content{
  border-radius: 20px;
  width: 466px;
  padding: 24px;
}

.modal-footer{
  padding: 0;
  margin-top: 20px;
}

.modal-header{
  padding: 0;
  margin-bottom: 20px;
}

.modal-title{
  font-size: 24px;
  font-weight: 700;
}
