.feedback-card-detail {
    width: 505px;
    margin: 0px;
    margin-left: 25px;
    display: flex;
}

.feedback-card-detail img {
    width: 56px;
    height: 56px;
}

.feedback-card-detail-top {
    display: flex;
    width: 460px;
    flex-direction: column;
    margin-left: 26px;
}

.feedback-card-detail-top-title {
    margin: 0px;
    margin-bottom: 10px;
    width: 106px;
    height: 20px;

    /* Title/Title Large SemiBold */

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height */


    color: #000000;
}

.feedback-card-detail-top-date {
    margin: 0px;
    width: fit-content;
    height: 14px;
    margin-bottom: 28px;

    /* Body/Body Medium Regular */

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height */


    /* Neutral-White/800 */

    color: #919191;
}

.feedback-card-detail-bottom {
    display: flex;
    margin-top: 20px;
    margin-left: 25px;
}

.feedback-card-detail-bottom-title {
    margin: 0px;
    width: 464px;
    height: 28px;

    /* Body/Body Medium Regular */

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    /* Neutral-White/900 */

    color: #6D6D6D;
}

.feedback-history-bottom-2{
    position: relative;
    bottom: -220px;
    right: -470px;
}

.feedback-history-bottom-back{
    position: relative;
    bottom: 180px;
    right: -500px;
}