@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;
}

.btn-add{
    border: 0;
    height: 44px;
}

.popUp{
    background-color: var(--Neutral-White-500);
}

.popUp:hover{
    background-color: var(--primary-500);
}

.labelTextField{
    color: #7A2400;
}

.btn-edit{
    background-color: var(--primary-300);
}

.btn-onl{
    background-color: white !important;
    color: var(--Warning-900) !important;
    border-radius: 8px;
}

.btn-off{
    background-color: var(--primary-500) !important;
    color: white;
    border-radius: 8px;
}

.btn-class{
    background-color: var(--primary-500) !important;
    color: var(--primary-100);
    border-radius: 8px;
}

.bgColor{
    background-color: var(--Neutral-White-100) !important;
}

.btn-page{
    background-color: var(--primary-300) !important;
    color: var(--primary-500);
}

.btn-page:hover{
    background-color: var(--primary-500) !important;
    color: var(--primary-300);
}