.orderChart {
    padding: 16px 20px 24px;
    margin-top: 2%;
    width: 100%;
    height: 100%;

    background: var(--Neutral-White-0);
    border-radius: 10px;
}

.textOrderChart {
    font-weight: 700;
    font-size: 20px;
    color: #0B0B0B;
}

.dropdown {
    width: 85px;
    height: 26px;
    color: var(--Neutral-White-0);
    background: var(--primary-600);
    border-radius: 10px 0px;
    font-weight: 700;
    font-size: 10px;
    text-align: center;
}

.selectOrder {
    width: 100px;
    height: 40px;
    background: var(--primary-600);
    border-radius: 4px 4px 0px 0px;
}

.radialBarCardDashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 100px;
    border-radius: 20px;
}

.spendingCost {
    padding: 16px;
    width: 100%;
    height: 100%;
    background: var(--Neutral-White-0);
    border-radius: 10px;
}

.textSpendingCost {
    font-weight: 700;
    font-size: 20px;
    color: #0B0B0B;
}

.DetailSpending {
    width: 150px;
}

.textside {
    font-weight: 700;
    font-size: 12px;
}

.SpendingCostMoney {
    font-weight: 600;
    font-size: 10px;
    color: var(--Danger-900);
}

.RecentTransaction {
    padding: 16px;
    width: 100%;
    height: 100%;
    background: var(--Neutral-White-0);
    border-radius: 10px;
}

.textRecent {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #0B0B0B;
}

.AllTransaction {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95px;
    height: 28px;
    background: #111111;
    border-radius: 8px;
}

.ViewAll {
    color: white;
    font-weight: 500;
    font-size: 14px;
}

.CostTransaction {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #0D6A50;
}

.CostMember {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #0B0B0B;
}

.CostDate {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #030303;
}

.IncomeDashboard {
    /* margin-left: 3%; */
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 10px;
}

.area-chart-income .apexcharts-gridline {
    stroke-opacity: 0 !important;
}

.area-chart-outcome .apexcharts-gridline {
    stroke-opacity: 0 !important;
}

.area-chart-income .apexcharts-area {
    stroke: var(--success-900) !important;
}

.area-chart-outcome .apexcharts-area {
    stroke: var(--Danger-900) !important;
}

.detailIncome {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 4px;
    gap: 4px;
    margin-left: 40%;
    width: 106px;
    height: 24px;
    color: #0D6A50;
    background: rgba(49, 190, 110, 0.4);
    border-radius: 4px;
}

.OutcomeDashboard {
    /* margin-left: 3%; */
    margin-top: 4%;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 10px;
}

.detailOutcome {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 4px;
    gap: 4px;
    margin-left: 40%;
    width: 106px;
    height: 24px;
    color: #7A1137;
    background: rgba(219, 65, 81, 0.6);
    border-radius: 4px;
}

.WalletBalance {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3vh 2vh;

    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 10px;
}

.detailWalletBalance {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1vh 3vh;
    margin-left: 21vw;
    width: 70%;
    height: 40%;
    color: #0D6A50;
    background: rgba(49, 190, 110, 0.4);
    border-radius: 8px;
}

.column-wallet-balance .apexcharts-gridline {
    stroke-opacity: 0 !important;
}