.status-pending{
    border-color: var(--Danger-500) !important;
    color: var(--Danger-500) !important;
}

.status-canceled{
    border-color: var(--Neutral-White-800) !important;
    color: var(--Neutral-White-800) !important;
}

.status-completed{
    border-color: var(--success-500) !important;
    color: var(--success-500) !important;
}

.rotated-svg {
    transform: rotate(-180deg);
}

.btn-sort-down{
    margin-top: -10px;
}

.btn-sort{
    color: var(--Neutral-White-600);
    font-size: 12px;
}

.btn-sort:hover path{
    fill: var(--Neutral-Black-900);
}

.btn-dis-invoices{
    border-color: var(--Neutral-Black-200) !important;
    color: var(--Neutral-Black-200) !important;
    background-color: white !important;
}

.btn-invoices{
    border-color: var(--primary-500) !important;
    color: var(--primary-500) !important;
    background-color: white !important;
}