.tag {
    display: inline-block;
    border: none;
    padding: 2px 12px;
    border-radius: 20px;
    font-size: 14px;
    cursor:default;
}

.icon {
    margin-left: 10px;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 2px;
}

.tag-text {
    background-color: var(--primary-100);
    color: var(--primary-900);
}

.tag-done {
    background-color: var(--success-100);
    color: var(--Neutral-Black-500);
}

.tag-active {
    background-color: var(--success-100);
    color: var(--Neutral-Black-500);
}

.tag-pending {
    background-color: var(--primary-100);
    color: var(--Neutral-Black-500);
}

.tag-cancel {
    background-color: var(--Danger-100);
    color: var(--Neutral-Black-500);
}

.tag-expired {
    background-color: var(--Danger-100);
}

.tag-year {
    background-color: var(--primary-500);
    color: var(--Neutral-Black-500);
}

.tag-month {
    background-color: var(--primary-300);
    color: var(--Neutral-Black-500);
}

.tag-month-secondary {
    background-color: var(--secondary-300);
    color: var(--Neutral-White-100);
}

.tag-admin {
    background-color: var(--secondary-100);
    color: var(--Neutral-Black-900);
}

.tag-manager {
    background-color: var(--info-100);
    color: var(--Neutral-Black-900);
}

.tag-auditor {
    background-color: var(--success-100);
    color: var(--Neutral-Black-900);
}

.tag-booked {
    background-color: var(--success-800);
    color: var(--Neutral-White-100);
}

.tag-booking-canceled {
    background-color: var(--Danger-800);
    color: var(--Neutral-White-100);
}

.icon-text {
    background-color: var(--primary-200);
}

.icon-done {
    background-color: var(--success-200);
}

.icon-pending {
    background-color: var(--primary-200);
}

.icon-cancel {
    background-color: var(--Danger-200);
}

.icon-year {
    background-color: var(--primary-600);
}

.icon-month {
    background-color: var(--primary-400);
}

.icon-month-secondary {
    background-color: var(--secondary-400);
}