@import url("https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans&family=Poppins&family=Roboto&family=Work+Sans&display=swap");

.manage-customer {
    font-family: 'Josefin Sans', sans-serif
}

.all-customers {
    margin-top: 3%;
    /* border-right: 1px solid #6D6D6D; */
    box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
    border-radius: 10px;
    /* width: 420px; */

}

.text-customers {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    color: var(--Neutral-Black-900);
}

.previousCustomer {
    width: 94px;
    height: 40px;
    border-radius: 8px;
    color: #FF7F00;
    border-color: #FF7F00;
}

.nextCustomer {
    width: 68px;
    height: 40px;
    border-radius: 8px;
    color: #FF7F00;
    border-color: #FF7F00;
}

.page-text {
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 40px;
    border-radius: 8px;
    color: white;
    background-color: #FF7F00;
}

#paginationCustomer {
    display: flex;
    justify-content: flex-end;
}