.recomended{
    box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
    border-radius: 10px;
    background-color: var(--Neutral-White-0);
}

.cardAdd select{
    border: 0;
    width: 230px;
    margin: 0 auto;
    height: 44px;
    font-size: 20px;
    font-weight: 500;
    /* padding-left: 22px; */
    /* padding-right: 52px; */
}
.cardAdd{
    width: 304px;
    padding: 32px;
    box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
    border-radius: 10px;
}

.btn-cancel{
    color: var(--primary-500);
    border: 1px solid var(--primary-500);
    border-radius:8px;
    width: 96px;
    /* height: 36px; */
    font-size: 20px;
    /* padding-right:34px;
    padding-left:34px */
  }

  .btn-save{
    background-color: var(--primary-500);
    color: var(--primary-100);
    border-radius:8px;
    font-size: 20px;
    width: 96px;
    /* height: 36px; */
    /* padding-right:34px;
    padding-left:34px */
  }