@import url("https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans&family=Poppins&family=Roboto&family=Work+Sans&display=swap");

:root{
  --primary-100 : #FFEFCC;
  --primary-200 : #FFDB99;
  --primary-300 : #FFC166;
  --primary-400 : #FFA83F;
  --primary-500 : #FF7F00;
  --primary-600 : #DB6200;
  --primary-700 : #B74900;
  --primary-800 : #933300;
  --primary-900 : #7A2400;
  
  --secondary-100 :#CCCCFF;
  --secondary-200 :#9999FF;
  --secondary-300 :#6666FF;
  --secondary-400 :#3F3FFF;
  --secondary-500 :#0000FF;
  --secondary-600 :#0000DB;
  --secondary-700 :#0000B7;
  --secondary-800 :#000093;
  --secondary-900 :#000093;

  --success-100: #DCFDDA;
  --success-200: #B5FBB8;
  --success-300: #8FF49C;
  --success-400: #70EA8D;
  --success-500: #44DD77;
  --success-600: #31BE6E;
  --success-700: #229F64;
  --success-800: #158058;
  --success-900: #0D6A50;
  
  --info-100: #CBFCFE;
  --info-200: #98F2FE;
  --info-300: #65E1FE;
  --info-400: #3FCDFD;
  --info-500: #00ACFC;
  --info-600: #0085D8;
  --info-700: #0064B5;
  --info-800: #004792;
  --info-900: #003278;
  
  --Warning-100: #FEF5D5;
  --Warning-200: ⁠#feE9AB;
  --Warning-300: ⁠#feD982;
  --Warning-400: #FDCA62;
  --Warning-500: #FCB12F;
  --Warning-600: #D88F22;
  --Warning-700: #B56F17;
  --Warning-800: #92530E;
  --Warning-900: #783F09;
  
  --Danger-100: #FFE8DD;
  --Danger-200: #FFCCBC;
  --Danger-300: #FFAB9B;
  --Danger-400: #FF8B82;
  --Danger-500: #FF595C;
  --Danger-600: #DB4151;
  --Danger-700: #B72C47;
  --Danger-800: #931C3D;
  --Danger-900: #7A1137;
  
  --Neutral-Black-100: #606060;
  --Neutral-Black-200: #393939;
  --Neutral-Black-300: #151515;
  --Neutral-Black-400: #111111;
  --Neutral-Black-500: #0E0E0E;
  --Neutral-Black-600: #C6C6C6;
  --Neutral-Black-700: #B5B5B5;
  --Neutral-Black-800: #919191;
  --Neutral-Black-900: #030303;
  
  --Neutral-White-0: #FFFFFF;
  --Neutral-White-100: #F6F6F6;
  --Neutral-White-200: #F2F2F2;
  --Neutral-White-300: #E6E6E6;
  --Neutral-White-400: #DFDFDF;
  --Neutral-White-500: #D9D9D9;
  --Neutral-White-600: #C6C6C6;
  --Neutral-White-700: #B5B5B5;
  --Neutral-White-800: #919191;
  --Neutral-White-900: #6D6D6D;
}

