.card-container-articles {
    width: 460px;
    height: 535px;
    background-color: #FFFFFF;
    position: relative;
    margin: 0px;

    /* border-color: black; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 30px 24px 14px 24px;

    transition: 0.4s ease;
}

.card-container-articles-body img {
    width: 394px;
    height: 278px;
    margin: 30px 33px 30px 33px;

}

.card-container-articles:hover {
    transform: scale(1.1);
}

.card-container-articles-body:hover img {
    transform: scale(1.1);
}


.card-articles-body {
    padding: 0%;
    margin-bottom: 4%;
}

.card-articles-body-Date {
    width: fit-content;
    /* height: 29px; */

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 145%;
    /* identical to box height, or 29px */

    text-transform: capitalize;

    color: #524FF5;
    margin: 0px 25px 0px 25px
}

.card-articles-body-Title {
    width: fit-content;
    /* height: 62px; */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 110%;
    /* or 31px */


    color: #1B2129;
    margin: 10px 25px 0px 25px;
}

.btn-circle {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
    /* padding: 15px; */
    /* gap: 10px; */
    /* right: 150px; */
    position: relative;
    padding: 0px;

    /* margin-left: 330px; */
    left: 75%;
    background: #D9D9D9;
    box-shadow: 1px 3px 21px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 72px;
    height: 72px;

    transition: transform 0.4s ease;
}

.btn-circle:hover {
    background-color: var(--primary-100);
    transform: rotate(180deg);
}

.btn-circle:active {
    background-color: var(--primary-200);
}

.btn-circle-icon {
    align-items: center;
    justify-content: center;
}

/* edit delete btn */

.article-setting {
    position: absolute;
    /* top: 0%; */
    bottom: 28.5%;
    left: 65.5%;
    border-radius: 10px;
    width: 40px;
    display: flex;
    flex-direction: row;
}

.article-setting-show {
    position: absolute;
    /* top: 0%; */
    bottom: 24.5%;
    left: 68%;
    border-radius: 10px;
    width: 40px;
    display: flex;
    flex-direction: row;
}

.show-active {
    background-color: var(--primary-400);
}

.article-setting-btn {
    margin: 0px;
    padding: 0px;
    font-size: 50px;
    line-height: 50px;
    color: black;
    width: 100%;
    text-decoration: none;
}

.article-setting-btn:hover {
    background-color: var(--primary-100);
    color: black;
    width: 100%;
    text-decoration: none;
    transform: scale(1.1);
}

.article-setting-btn-editdelete {
    width: fit-content;
    background-color: var(--Neutral-White-100);

}

@media (max-width: 768px) {
    .card-container-articles {
        width: 230px;
        height: 267px;
        background-color: #FFFFFF;
        position: relative;
        margin: 0px;

        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        padding: 15px 12px 7px 12px;
        transition: 0.4s ease;
    }

    .card-container-articles-body img {
        width: 197px;
        height: 139px;
        margin: 15px 16px 15px 16px;

    }

    .card-container-articles:hover {
        transform: scale(1.1);
    }

    .card-container-articles-body:hover img {
        transform: scale(1.1);
    }

    .card-articles-body {
        padding: 0%;
        margin-bottom: 2%;
    }

    .card-articles-body-Date {
        width: fit-content;
        font-size: 10px;

        margin: 0px 14px 0px 14px
    }

    .card-articles-body-Title {
        width: fit-content;
        font-size: 14px;
        margin: 5px 14px 0px 14px;
    }

    .btn-circle {
        position: relative;
        padding: 0px;

        left: 75%;
        width: 36px;
        height: 36px;

        transition: transform 0.4s ease;
    }

    .btn-circle:hover {
        background-color: var(--primary-100);
        transform: rotate(180deg);
    }

    .btn-circle:active {
        background-color: var(--primary-200);
    }

    .btn-circle-icon {
        width: 15px;
        height: 15px;
    }

    /* edit delete btn */

    .article-setting {
        position: absolute;
        /* top: 0%; */
        bottom: 28.5%;
        left: 55.5%;
        border-radius: 10px;
        width: 40px;
        display: flex;
        flex-direction: row;
    }

    .article-setting-show {
        position: absolute;
        /* top: 0%; */
        bottom: 17%;
        left: 61.5%;
        border-radius: 10px;
        width: 40px;
        display: flex;
        flex-direction: row;
    }

    .show-active {
        background-color: var(--primary-400);
    }

    .article-setting-btn {
        font-size: 20px;
        line-height: 20px;
        color: black;
        width: 100%;
        text-decoration: none;
    }

    .article-setting-btn:hover {
        width: 100%;
        text-decoration: none;
        transform: scale(1.1);
    }

    .article-setting-btn-editdelete {
        width: fit-content;
        background-color: var(--Neutral-White-100);
    }

    .article-setting-btn-editdelete p {
        font-size: 8px;
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .card-container-articles {
        width: 345px;
        height: 400px;
        background-color: #FFFFFF;
        position: relative;
        margin: 0px;

        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        padding: 22px 18px 10px 18px;
        transition: 0.4s ease;
    }

    .card-container-articles-body img {
        width: 295px;
        height: 208px;
        margin: 22px 24px 22px 24px;

    }

    .card-container-articles:hover {
        transform: scale(1.1);
    }

    .card-container-articles-body:hover img {
        transform: scale(1.1);
    }

    .card-articles-body {
        padding: 0%;
        margin-bottom: 3%;
    }

    .card-articles-body-Date {
        width: fit-content;
        font-size: 15px;

        margin: 0px 21px 0px 21px
    }

    .card-articles-body-Title {
        width: fit-content;
        font-size: 21px;
        margin: 7px 21px 0px 21px;
    }

    .btn-circle {
        position: relative;
        padding: 0px;

        left: 75%;
        width: 54px;
        height: 54px;

        transition: transform 0.4s ease;
    }

    .btn-circle:hover {
        background-color: var(--primary-100);
        transform: rotate(180deg);
    }

    .btn-circle:active {
        background-color: var(--primary-200);
    }

    .btn-circle-icon {
        width: 20px;
        height: 20px;
    }

    /* edit delete btn */

    .article-setting {
        position: absolute;
        /* top: 0%; */
        bottom: 28.5%;
        left: 55.5%;
        border-radius: 10px;
        width: 40px;
        display: flex;
        flex-direction: row;
    }

    .article-setting-show {
        position: absolute;
        /* top: 0%; */
        bottom: 17%;
        left: 61.5%;
        border-radius: 10px;
        width: 40px;
        display: flex;
        flex-direction: row;
    }

    .show-active {
        background-color: var(--primary-400);
    }

    .article-setting-btn {
        font-size: 30px;
        line-height: 30px;
        color: black;
        width: 100%;
        text-decoration: none;
    }

    .article-setting-btn:hover {
        width: 100%;
        text-decoration: none;
        transform: scale(1.1);
    }

    .article-setting-btn-editdelete {
        width: fit-content;
        background-color: var(--Neutral-White-100);
    }

    .article-setting-btn-editdelete p {
        font-size: 14px;
    }
}

@media (min-width: 990px) and (max-width: 1212px) {
    .card-container-articles {
        width: 402px;
        height: 520px;
        background-color: #FFFFFF;
        position: relative;
        margin: 0px;

        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        padding: 26px 21px 12px 21px;
        transition: 0.4s ease;
    }

    .card-container-articles-body img {
        width: 345px;
        height: 313px;
        margin: 26px 28px 26px 28px;

    }

    .card-container-articles:hover {
        transform: scale(1.1);
    }

    .card-container-articles-body:hover img {
        transform: scale(1.1);
    }

    .card-articles-body {
        padding: 0%;
        margin-bottom: 2%;
    }

    .card-articles-body-Date {
        width: fit-content;
        font-size: 18px;

        margin: 0px 26px 0px 26px
    }

    .card-articles-body-Title {
        width: fit-content;
        font-size: 24px;
        margin: 10px 26px 0px 26px;
    }

    .btn-circle {
        position: relative;
        padding: 0px;

        left: 75%;
        width: 63px;
        height: 63px;

        transition: transform 0.4s ease;
    }

    .btn-circle:hover {
        background-color: var(--primary-100);
        transform: rotate(180deg);
    }

    .btn-circle:active {
        background-color: var(--primary-200);
    }

    .btn-circle-icon {
        width: 22px;
        height: 22px;
    }
    /* edit delete btn */

    .article-setting {
        position: absolute;
        /* top: 0%; */
        bottom: 25.5%;
        left: 64.5%;
        border-radius: 10px;
        width: 40px;
        display: flex;
        flex-direction: row;
    }

    .article-setting-show {
        position: absolute;
        /* top: 0%; */
        bottom: 17.5%;
        left: 64.5%;
        border-radius: 10px;
        width: 40px;
        display: flex;
        flex-direction: row;
    }

    .show-active {
        background-color: var(--primary-400);
    }

    .article-setting-btn {
        font-size: 40px;
        line-height: 40px;
        color: black;
        width: 100%;
        text-decoration: none;
    }

    .article-setting-btn:hover {
        width: 100%;
        text-decoration: none;
        transform: scale(1.1);
    }

    .article-setting-btn-editdelete {
        width: fit-content;
        background-color: var(--Neutral-White-100);
    }

    .article-setting-btn-editdelete p {
        font-size: 16px;
    }
}