.card-container-articles {
    width: 460px;
    height: 535px;
    background-color: #FFFFFF;
    /* margin-top: 20px; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
    padding: 30px 24px 14px 24px;
    /* gap: 10px; */
    /* isolation: isolate; */
}

.card-title h3 {
    width: 141px;
    height: 29px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 145%;
    /* identical to box height, or 29px */

    text-transform: capitalize;

    color: #524FF5;
    margin-top: 15px;
    /* margin: 15px 33px 0px 33px */
}

.card-title h1 {
    width: 391px;
    height: 62px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 110%;
    /* or 31px */


    color: #1B2129;
    margin-top: 25px;
    /* margin: 25px 33px 20px 33px; */
}

.btn-circle {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
    /* padding: 15px; */
    /* gap: 10px; */
    /* right: 150px; */

    padding: 0px;
    
    margin-left: 330px;
    margin-bottom: 25px;
    background: #D9D9D9;
    box-shadow: 1px 3px 21px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 72px;
    height: 72px;
    /* left: 830px; */
    /* top: 453px; */

    transition: transform 0.4s ease;
}

.btn-circle:hover {
    background-color: var(--primary-100);
    transform: rotate(180deg);
}

.btn-circle:active {
    background-color: var(--primary-200);
}

.btn-circle-icon {
    align-items: center;
    justify-content: center;
}